Prueba cÃ³digo para proyecto

In [ ]:
#para cargar archivos de mi computadora
#from google.colab import files
#uploaded = files.upload()

In [ ]:
#para conectarse directamente al drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import requests
import pandas as pd
import json
import time
from datetime import datetime

DEFINIR FUNCIONES

In [ ]:
#API_KEY FUNCTION: returns the api key encripted (it is saved in a txt)
def api_key():
    with open('/content/drive/MyDrive/1. IRONHACK/respaldo proyecto/apiKey.txt') as f:
        contents = f.read()
        api = f'?api_key={contents}'
        return api

In [ ]:
#SUMMONER FUNCTION: returns the first version of the summoners df
def summoner(api):
    #empty list to append all the tables
    main_df = list()

    #defining a list with my 3 top regions
    region_list = ['eun1','kr','na1']

    #defining a list with my 3 top tiers
    tier_list = ['challengerleagues','grandmasterleagues','masterleagues']

    #loop that will change the url so the 9 combinations are appended to the main_df list
    for region in region_list:
        for tier in tier_list:
            url = f'https://{region}.api.riotgames.com/lol/league/v4/{tier}/by-queue/RANKED_SOLO_5x5{api}'
            response_json = requests.get(url)
            response = response_json.json()
            #print(response)
            response_df = pd.DataFrame(response)
            #adding the column "region" (it will be necessary later)
            response_df['region'] = region
            #print(response_df)
            main_df.append(response_df)
            time.sleep(2)
    summoner = pd.concat(main_df)
    return summoner

In [ ]:
#CHAMPION AND SUMMONER FUNCTION: returns the first version of the summoners df with their champions
def championAndSummoner(api,flat_summoners):
    #empty list to append all the tables
    main_df_1 = list()

    #a for loop to consider all the summoners in the flat_summoners_ordered df
    for i in range(len(flat_summoners)):
        #since there are more than 7k rows, to practice, we can consider only 50
        if i > 8350:
            break
        #we want the first value of the list given by the .at[i,region]    
        region = flat_summoners.at[i, 'region'][0]
        invocador = flat_summoners.at[i,'summonerId'][0]

        url = f'https://{region}.api.riotgames.com/lol/champion-mastery/v4/champion-masteries/by-summoner/{invocador}{api}'
        response_json = requests.get(url)
        response = response_json.json()
        response_df = pd.DataFrame(response)
        main_df_1.append(response_df)
        time.sleep(1)
    champion_and_summoner = pd.concat(main_df_1)
    return champion_and_summoner

In [ ]:
#CHAMPION AND SUMMONER FUNCTION: returns the first version of the summoners df with their champions
def champions():
    champs_json = requests.get('http://ddragon.leagueoflegends.com/cdn/10.23.1/data/en_US/champion.json')
    champs = champs_json.json()
    champs_df = pd.DataFrame(champs)
    return champs_df

In [ ]:
#CHANGE_INDEX FUNCTION: function that will change the index of pd
def change_index(df):
    index = df.shape[0]
    index_final = [*range(0, index, 1)]
    df = df.set_axis([index_final], axis='index')
    return df

In [ ]:
#FLATTEN FUNCTION: will flatten my data (if a column has nested dictionaries)
def flatten(table, column_list):
    for column in column_list:
        flattened = pd.DataFrame(dict(table[column])).transpose()
        columns = [str(col) for col in flattened.columns]
        flattened.columns = [column + '_' + column_name for column_name in columns]
        table = pd.concat([table, flattened], axis=1)
        table = table.drop(column, axis = 1)
    return table

In [ ]:
#MERGE FUNCTION: it will "concat" two tables according an specific value (this case championID)
def merge(df1, df2):
    df = df1.merge(df2,left_on='data_key', right_on='championId')
    return df

In [ ]:
#CSV FUNCTION
def convert_csv(df,name):
    df.to_csv(name)

### CLEANING FUNCTIONS

In [ ]:
#ORDER AND RENAME FUNCTION
def order(df,lista):
    #order columns and delete the ones I won't use
    flat = df[(lista)]
    return flat

In [ ]:
def rename(df,dicc):
    flat_ordered = df.rename(columns=dicc)
    return flat_ordered

### FUNCTIONS NESTED

summoners

In [ ]:
api = api_key()
api

'?api_key=RGAPI-27157efd-8530-4475-b46a-592ef8286555'

In [ ]:
summoner_df = summoner(api)
summoner_df

            tier  ... region
0     CHALLENGER  ...   eun1
1     CHALLENGER  ...   eun1
2     CHALLENGER  ...   eun1
3     CHALLENGER  ...   eun1
4     CHALLENGER  ...   eun1
...          ...  ...    ...
1139      MASTER  ...    na1
1140      MASTER  ...    na1
1141      MASTER  ...    na1
1142      MASTER  ...    na1
1143      MASTER  ...    na1

[8396 rows x 6 columns]

In [ ]:
summoner_df = change_index(summoner_df)
summoner_df

            tier  ... region
0     CHALLENGER  ...   eun1
1     CHALLENGER  ...   eun1
2     CHALLENGER  ...   eun1
3     CHALLENGER  ...   eun1
4     CHALLENGER  ...   eun1
...          ...  ...    ...
8391      MASTER  ...    na1
8392      MASTER  ...    na1
8393      MASTER  ...    na1
8394      MASTER  ...    na1
8395      MASTER  ...    na1

[8396 rows x 6 columns]

In [ ]:
nested_column = ['entries']

flat_summoners = flatten(summoner_df, nested_column)
flat_summoners

            tier  ... entries_hotStreak
0     CHALLENGER  ...             False
1     CHALLENGER  ...              True
2     CHALLENGER  ...             False
3     CHALLENGER  ...             False
4     CHALLENGER  ...             False
...          ...  ...               ...
8391      MASTER  ...              True
8392      MASTER  ...             False
8393      MASTER  ...             False
8394      MASTER  ...             False
8395      MASTER  ...             False

[8396 rows x 15 columns]

In [ ]:
lista = ['entries_summonerId','region','entries_summonerName','entries_rank',
                'entries_wins','entries_losses','tier','leagueId','name','entries_leaguePoints']

flat_summoners = order(flat_summoners, lista)
flat_summoners

                                    entries_summonerId  ... entries_leaguePoints
0      WUR7bNRsr-2eIuhH9dtjHyAPqGeDuNOYI5UuR1Uu9O3Svq0  ...                  537
1      OSB7m-MIa4StpbtrV9bIknv6ZA807aQDAT45OmpO9iJGsxc  ...                  728
2      3YH8ctLOFi7Y6w1h0TebelymCD-9W6M1cQkDoWkEt9SFHsA  ...                  823
3      FqV3JL8aHdhTRuCNSrGaghwZDrK7vbZXywZyLpv89nJdFMk  ...                  820
4      EILXDFBDb9QivdJDBt9JL0t0r3TEHcq8Wednm-9FGn01VoE  ...                  872
...                                                ...  ...                  ...
8391   gIAllAqz9DKtlP0OZe7SCA8qu3c6gWfjv687Uhzw8TqP6PY  ...                    0
8392   GoiW4k12D1V8bwwDX36F9OBnqA44u0EIBL-xFp6DaA-Ukq8  ...                    0
8393  _g1CHkNIr0P04p0-TMWZOFT6uRDPTLZx7EvqxofP2zTncKc1  ...                    0
8394   0mHy5GxFTNaQinMWMd9K4ZRYWji5SQOjXMGtPnDJ6fhbvHs  ...                   59
8395   LL_cD6AuNw5jvOOldqXu_17A_-2UuEdYYX8Shh0Zv0wlx5o  ...                  135

[8396 rows x 10 columns]

In [ ]:
this_dict ={'entries_summonerId':'summonerId','entries_summonerName':'summonerName', 
            'entries_leaguePoints':'leaguePoints','entries_rank':'rank',
            'entries_wins':'wins','entries_losses':'losses','name':'leagueName'}

flat_summoners = rename(flat_summoners, this_dict)
flat_summoners

                                            summonerId  ... leaguePoints
0      WUR7bNRsr-2eIuhH9dtjHyAPqGeDuNOYI5UuR1Uu9O3Svq0  ...          537
1      OSB7m-MIa4StpbtrV9bIknv6ZA807aQDAT45OmpO9iJGsxc  ...          728
2      3YH8ctLOFi7Y6w1h0TebelymCD-9W6M1cQkDoWkEt9SFHsA  ...          823
3      FqV3JL8aHdhTRuCNSrGaghwZDrK7vbZXywZyLpv89nJdFMk  ...          820
4      EILXDFBDb9QivdJDBt9JL0t0r3TEHcq8Wednm-9FGn01VoE  ...          872
...                                                ...  ...          ...
8391   gIAllAqz9DKtlP0OZe7SCA8qu3c6gWfjv687Uhzw8TqP6PY  ...            0
8392   GoiW4k12D1V8bwwDX36F9OBnqA44u0EIBL-xFp6DaA-Ukq8  ...            0
8393  _g1CHkNIr0P04p0-TMWZOFT6uRDPTLZx7EvqxofP2zTncKc1  ...            0
8394   0mHy5GxFTNaQinMWMd9K4ZRYWji5SQOjXMGtPnDJ6fhbvHs  ...           59
8395   LL_cD6AuNw5jvOOldqXu_17A_-2UuEdYYX8Shh0Zv0wlx5o  ...          135

[8396 rows x 10 columns]

In [ ]:
flat_summoners.dtypes

summonerId      object
region          object
summonerName    object
rank            object
wins            object
losses          object
tier            object
leagueId        object
leagueName      object
leaguePoints    object
dtype: object

In [ ]:
name_csv = 'prueba_1_summoners_output.csv'

summoners_df = convert_csv(flat_summoners,name_csv)

Champions and summoners

In [ ]:
champions_summoner = championAndSummoner(api,flat_summoners)
champions_summoner

     championId  ...  status
0         157.0  ...     NaN
1           8.0  ...     NaN
2          67.0  ...     NaN
3          38.0  ...     NaN
4         238.0  ...     NaN
..          ...  ...     ...
134        60.0  ...     NaN
135        50.0  ...     NaN
136       432.0  ...     NaN
137        40.0  ...     NaN
138        79.0  ...     NaN

[903092 rows x 10 columns]

In [ ]:
name_csv = 'prueba_1_champios_and_summoners_output.csv'

champions_summoner_df = convert_csv(champions_summoner,name_csv)

NameError: ignored

### YA SE GUARDARON LOS DOS CSV

In [ ]:
champions_summoner_df = pd.read_csv('/content/drive/MyDrive/1. IRONHACK/respaldo proyecto/BASES CSV/prueba_1_champios_and_summoners_output')
champions_summoner_df

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,7,10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

       Unnamed: 0  ...  status
0               0  ...     NaN
1               1  ...     NaN
2               2  ...     NaN
3               3  ...     NaN
4               4  ...     NaN
...           ...  ...     ...
903087        134  ...     NaN
903088        135  ...     NaN
903089        136  ...     NaN
903090        137  ...     NaN
903091        138  ...     NaN

[903092 rows x 11 columns]

In [ ]:
champions_summoner_df = change_index(champions_summoner_df)
champions_summoner_df

       Unnamed: 0  ...  status
0               0  ...     NaN
1               1  ...     NaN
2               2  ...     NaN
3               3  ...     NaN
4               4  ...     NaN
...           ...  ...     ...
903087        134  ...     NaN
903088        135  ...     NaN
903089        136  ...     NaN
903090        137  ...     NaN
903091        138  ...     NaN

[903092 rows x 11 columns]

In [ ]:
champions_summoner_df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 903092 entries, (0,) to (903091,)
Data columns (total 11 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Unnamed: 0                    903092 non-null  object
 1   championId                    902828 non-null  float64
 2   championLevel                 902828 non-null  float64
 3   championPoints                902828 non-null  float64
 4   lastPlayTime                  902828 non-null  float64
 5   championPointsSinceLastLevel  902828 non-null  float64
 6   championPointsUntilNextLevel  902828 non-null  float64
 7   chestGranted                  902828 non-null  object
 8   tokensEarned                  902828 non-null  float64
 9   summonerId                    902828 non-null  object
 10  status                        264 non-null     object
dtypes: float64(7), object(4)
memory usage: 126.1+ MB

In [ ]:
#I need to change the values of the column "championId" from int64 to str
champions_summoner_df['championId'] = champions_summoner_df['championId'].astype('str')

In [ ]:
champions_summoner_df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 903092 entries, (0,) to (903091,)
Data columns (total 11 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Unnamed: 0                    903092 non-null  object
 1   championId                    903092 non-null  object
 2   championLevel                 902828 non-null  float64
 3   championPoints                902828 non-null  float64
 4   lastPlayTime                  902828 non-null  float64
 5   championPointsSinceLastLevel  902828 non-null  float64
 6   championPointsUntilNextLevel  902828 non-null  float64
 7   chestGranted                  902828 non-null  object
 8   tokensEarned                  902828 non-null  float64
 9   summonerId                    902828 non-null  object
 10  status                        264 non-null     object
dtypes: float64(6), object(5)
memory usage: 126.1+ MB

In [ ]:
champions_summoner_df

In [ ]:
name_csv = 'prueba_1_champios_and_summoners_output.csv'

champions_summoner_df = convert_csv(champions_summoner_df,name_csv)

Only champions

In [ ]:
champs = champions()
champs

             type  ...                                               data
Aatrox   champion  ...  {'version': '10.23.1', 'id': 'Aatrox', 'key': ...
Ahri     champion  ...  {'version': '10.23.1', 'id': 'Ahri', 'key': '1...
Akali    champion  ...  {'version': '10.23.1', 'id': 'Akali', 'key': '...
Alistar  champion  ...  {'version': '10.23.1', 'id': 'Alistar', 'key':...
Amumu    champion  ...  {'version': '10.23.1', 'id': 'Amumu', 'key': '...
...           ...  ...                                                ...
Zed      champion  ...  {'version': '10.23.1', 'id': 'Zed', 'key': '23...
Ziggs    champion  ...  {'version': '10.23.1', 'id': 'Ziggs', 'key': '...
Zilean   champion  ...  {'version': '10.23.1', 'id': 'Zilean', 'key': ...
Zoe      champion  ...  {'version': '10.23.1', 'id': 'Zoe', 'key': '14...
Zyra     champion  ...  {'version': '10.23.1', 'id': 'Zyra', 'key': '1...

[152 rows x 4 columns]

In [ ]:
nested_column = ['data']

flat_champions = flatten(champs, nested_column)
flat_champions.head(3)

            type  ...                                         data_stats
Aatrox  champion  ...  {'hp': 580, 'hpperlevel': 90, 'mp': 0, 'mpperl...
Ahri    champion  ...  {'hp': 526, 'hpperlevel': 92, 'mp': 418, 'mppe...
Akali   champion  ...  {'hp': 575, 'hpperlevel': 95, 'mp': 200, 'mppe...

[3 rows x 14 columns]

In [ ]:
nested_column = ['data_info']

flat_champions = flatten(flat_champions, nested_column)
flat_champions.head(3)

            type             format  ... data_info_magic data_info_difficulty
Aatrox  champion  standAloneComplex  ...               3                    4
Ahri    champion  standAloneComplex  ...               8                    5
Akali   champion  standAloneComplex  ...               8                    7

[3 rows x 17 columns]

In [ ]:
nested_column = ['data_stats']

flat_champions = flatten(flat_champions, nested_column)
flat_champions.head(3)

            type  ... data_stats_attackspeed
Aatrox  champion  ...                  0.651
Ahri    champion  ...                  0.668
Akali   champion  ...                  0.625

[3 rows x 36 columns]

In [ ]:
flat_champions['data_tags']

Aatrox      [Fighter, Tank]
Ahri       [Mage, Assassin]
Akali            [Assassin]
Alistar     [Tank, Support]
Amumu          [Tank, Mage]
                 ...
Zed              [Assassin]
Ziggs                [Mage]
Zilean      [Support, Mage]
Zoe         [Mage, Support]
Zyra        [Mage, Support]
Name: data_tags, Length: 152, dtype: object

In [ ]:
flat_champions['data_partype'].unique()

array(['Blood Well', 'Mana', 'Energy', 'None', 'Rage', 'Courage',
       'Shield', 'Fury', 'Ferocity', 'Heat', 'Grit', 'Crimson Rush',
       'Flow'], dtype=object)

In [ ]:
#cada champion tiene 1 o 2 clasificaciones, ambas vienen en formato de lista en la columna "data_tags"
#vamos a expandir las listas que estan en la columna "data_tags" con el metodo aply
tags = flat_champions['data_tags'].apply(pd.Series)
tags

                0         1
Aatrox    Fighter      Tank
Ahri         Mage  Assassin
Akali    Assassin       NaN
Alistar      Tank   Support
Amumu        Tank      Mage
...           ...       ...
Zed      Assassin       NaN
Ziggs        Mage       NaN
Zilean    Support      Mage
Zoe          Mage   Support
Zyra         Mage   Support

[152 rows x 2 columns]

In [ ]:
tags2 = tags.rename(columns={0:'Champion_class', 1:'Champion_class_2'})
tags2

        Champion_class Champion_class_2
Aatrox         Fighter             Tank
Ahri              Mage         Assassin
Akali         Assassin              NaN
Alistar           Tank          Support
Amumu             Tank             Mage
...                ...              ...
Zed           Assassin              NaN
Ziggs             Mage              NaN
Zilean         Support             Mage
Zoe               Mage          Support
Zyra              Mage          Support

[152 rows x 2 columns]

In [ ]:
flat_champions_modified = pd.concat([flat_champions[:], tags2[:]], axis=1)
flat_champions_modified

             type             format  ... Champion_class Champion_class_2
Aatrox   champion  standAloneComplex  ...        Fighter             Tank
Ahri     champion  standAloneComplex  ...           Mage         Assassin
Akali    champion  standAloneComplex  ...       Assassin              NaN
Alistar  champion  standAloneComplex  ...           Tank          Support
Amumu    champion  standAloneComplex  ...           Tank             Mage
...           ...                ...  ...            ...              ...
Zed      champion  standAloneComplex  ...       Assassin              NaN
Ziggs    champion  standAloneComplex  ...           Mage              NaN
Zilean   champion  standAloneComplex  ...        Support             Mage
Zoe      champion  standAloneComplex  ...           Mage          Support
Zyra     champion  standAloneComplex  ...           Mage          Support

[152 rows x 38 columns]

In [ ]:
flat_champions_modified.info()

<class 'pandas.core.frame.DataFrame'>
Index: 152 entries, Aatrox to Zyra
Data columns (total 38 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   type                             152 non-null    object
 1   format                           152 non-null    object
 2   version                          152 non-null    object
 3   data_version                     152 non-null    object
 4   data_id                          152 non-null    object
 5   data_key                         152 non-null    object
 6   data_name                        152 non-null    object
 7   data_title                       152 non-null    object
 8   data_blurb                       152 non-null    object
 9   data_image                       152 non-null    object
 10  data_tags                        152 non-null    object
 11  data_partype                     152 non-null    object
 12  data_info_attack                 152 non-null    int64
 13  data_info_defense                152 non-null    int64
 14  data_info_magic                  152 non-null    int64
 15  data_info_difficulty             152 non-null    int64
 16  data_stats_hp                    152 non-null    float64
 17  data_stats_hpperlevel            152 non-null    float64
 18  data_stats_mp                    152 non-null    float64
 19  data_stats_mpperlevel            152 non-null    float64
 20  data_stats_movespeed             152 non-null    float64
 21  data_stats_armor                 152 non-null    float64
 22  data_stats_armorperlevel         152 non-null    float64
 23  data_stats_spellblock            152 non-null    float64
 24  data_stats_spellblockperlevel    152 non-null    float64
 25  data_stats_attackrange           152 non-null    float64
 26  data_stats_hpregen               152 non-null    float64
 27  data_stats_hpregenperlevel       152 non-null    float64
 28  data_stats_mpregen               152 non-null    float64
 29  data_stats_mpregenperlevel       152 non-null    float64
 30  data_stats_crit                  152 non-null    float64
 31  data_stats_critperlevel          152 non-null    float64
 32  data_stats_attackdamage          152 non-null    float64
 33  data_stats_attackdamageperlevel  152 non-null    float64
 34  data_stats_attackspeedperlevel   152 non-null    float64
 35  data_stats_attackspeed           152 non-null    float64
 36  Champion_class                   152 non-null    object
 37  Champion_class_2                 115 non-null    object
dtypes: float64(20), int64(4), object(14)
memory usage: 51.3+ KB

In [ ]:
name_csv = 'prueba_1_champions_output.csv'

champions_df = convert_csv(flat_champions_modified,name_csv)

## MERGE DE TODO

In [ ]:
df_1 = merge(flat_champions_modified,champions_summoner_df)
df_1

TypeError: ignored